// contacto

.contacto {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    &__form {
        width: 50%;
    }
}
.container__button--form {
    display: flex;
    justify-content: center;
}