.header{
    background-color: #e6e6e6;
    position: sticky;
    top: 0;
    z-index: 100;
    justify-content: space-around;
    .navbar-expand {
    background-color: #e6e6e6;
    }
    .collapse {
        justify-content: center;
        
        .nav-link {
            text-transform: uppercase;
        }
    }
}
#boton-carrito {
    border: none;
    color: royalblue;
    font-size: 20px;
    background-color: white;
    border-radius: 50%;
    padding: 10px 20px;
    transition: all .3s;
    
}
#boton-carrito:hover {
    cursor: pointer;
    color: white;
    background-color: royalblue;
}
#boton-carrito:focus {
    outline: none;
}