.header{
    background-color: #e6e6e6;
    position: sticky;
    top: 0;
    z-index: 100;
    justify-content: space-around;
    .navbar-expand {
    background-color: #e6e6e6;
    }
    .collapse {
        justify-content: center;
        
        .nav-link {
            text-transform: uppercase;
        }
    }
    
    
}
